@model P6_Binot_Jonathan.Data.Problemes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Problemes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateResolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateResolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Probleme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Probleme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produit.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Systeme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Systeme.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
